.btn{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.25rem;
    max-width: 12rem;
    background-color: var(--pri-clr);
    padding: 1rem;
    border-radius: 5rem;
    justify-content: center;
    color: var(--txt-clr-white);
}

.btn:hover{
    background-color: var(--pri-clr-hvr);
}