.chirp-actions-btn{
    border: 0;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.12rem;
    display: flex;
    gap: .25rem;
    align-items: center;
    color: var(--sec-txt-clr);
    font-weight: 300;
}

.chirp-actions-btn:hover{
    color: var(--pri-txt-clr);
}

.chirp-actions-btn--like:hover{
    color: var(--pri-like-hvr-clr);
}

.chirp-actions-btn--rechirp:hover{
    color: var(--pri-rechirp-hvr-clr);
} 

.chirp-actions-btn:hover .chirp-actions-btn__icon-wrap{
    background-color: var(--pri-txt-hvr-clr);
}

.chirp-actions-btn--rechirp:hover .chirp-actions-btn__icon-wrap{
    background-color: var(--pri-rechirp-clr);
}

.chirp-actions-btn--like:hover .chirp-actions-btn__icon-wrap{
    background-color: var(--pri-like-clr);
}

.chirp-actions-btn__icon-wrap{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}