.sidebarmenu{
    --padding-tb: .5rem;
    --padding-lr: 1rem;
    --fs-link: 1.5rem;
    --border-rad: 5rem;
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    padding: 1rem;
    flex: .75;
}

.sidebarmenu__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
}

.sidebarmenu__list-item{
    font-size: var(--fs-link);
    padding: var(--padding-tb) var(--padding-lr);
    max-width: fit-content;
    border-radius: var(--border-rad);
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
}

.sidebarmenu__list-item:hover{
    background-color: var(--hover-clr);
}

.sidebarmenu__link{
    text-decoration: none;
    color: currentColor;
    width: fit-content;
}

.sidebarmenu__link.active {
    font-weight: 900;
    color: red;
}

.sidebarmenu__btn--user{
    margin-top: auto;
}

.sidebarmenu__btn{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--fs-link);
}

.sidebarmenu__user-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.sidebarmenu__icon{
    font-weight: 400;
    font-size: 1.35rem;
}