.chirpForm{
    margin: 1rem;
    margin-top: 2rem;
}

.chirpForm__wrapper{
    display: flex;
    gap: 1rem;
}

.chirpForm__input{
    border: 0;
    width: 100%;
    font-size: 1.5rem;
    resize: none;
}

.chirpForm__input:focus{
    outline: none;
}

.chirpForm__user-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.chirpForm__options{
    display: flex;
    margin-top: 1rem;
}

.chirpForm__btn{
    margin-left: auto;
    border: 0;
    background-color: var(--pri-clr);
    cursor: pointer;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    color: var(--txt-clr-white);
    font-size: 1.12rem;
}

.chirpForm__btn:hover{
    background-color: var(--pri-clr-hvr);
}