.singleChirp{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--border-clr);
    position: relative;
    z-index: 1;
}

.singleChirp:hover{
    background-color: var(--hover-clr);
    cursor: pointer;
}

.singleChirp__user-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.singleChirp__wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.singleChirp__user-details{
    display: flex;
    gap: .5rem;
}

.singleChirp__time{
    text-align: center;
}

.singleChirp__options{
    display: flex;
    gap: 3rem;
    position: relative;
    z-index: 11;
}

.singleChirp__user-fullname{
    font-weight: 500;
}

.singleChirp__username, .singleChirp__time{
    font-weight: 300;
    color: var(--sec-txt-clr);
}

.singleChirp__message{
    font-weight: 400;
}

.singleChirp__link{
    text-decoration: none;
    color: currentColor;
}