.search{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10rem;
    padding: .75rem;
    gap: .5rem;
    font-size: 1.1rem;
    border: 1px solid black;
}

.search:focus-within{
    outline: 2px solid black;
}

.search__input{
    border: 0;
    width: 100%;
}

.search__input:focus{
    outline: none;
}
